.label--gram-main{
    display: flex;
    justify-content: center;
    padding: 4px 0;
    background: #FFFFFF;
    border: 1px solid #3ECF5E;
    border-radius: 5px;
    width: 68px;
    height: 29px;
    cursor: pointer;
}

.label--gram{
    display: flex;
    align-self: center;
    cursor: pointer;
}
