*{
    box-sizing: border-box;
}

body{
    font-family: 'Gilroy', sans-serif;
}

.wrapper{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.gram{
    display: none;
}

::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}

input:checked + label{
    display: flex;
    justify-content: center;
    padding: 4px 0;
    background: #FFFFFF;
    border: 1px solid #3ECF5E;
    border-radius: 5px;
    width: 68px;
    height: 29px;
    cursor: pointer;
}