.section--contacs{
    padding: 33px 0 46px 0;
}

.section--menu{
    padding-bottom: 30px;
}

.section--main{
    background-color: #E5E5E5;
    padding: 75px 0 100px 0;
}

.section--footer{
    padding: 100px 0 130px 0;
    background: #333333;
}
